
.container{
  display: flex;
  flex-direction: column;
  width:25%;
  height:500px;
  margin-top: 1rem;
  margin-left: 1rem;
  border: black 5px solid;
}

img{
  height: 100%;
  width: 100%;
}

.info{
  text-align: left;
  padding-left: 1rem;
  line-height: 20px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.data{
  border: solid 2px black;
}


